/* Removes all margin and padding from all elements */
/* * { margin: 0;
    padding: 0;
} */

/* Body styling */
body {
    margin: 0 auto;
    background-color: #42210B;
}

/* Header styling */
header {
    background-color: #006837;
    display: flex;
}

.btn-qt.qt1 {
    margin-left: auto;
}

header {
    position: sticky;
    top: 0;
    height: 10vh;
    min-height: 70px;
    padding: 0;
}

nav p {
    margin-left: 55%;
    font-size: .75em;
}



/* .logoImg {
    padding: 0;

} */

h1 {
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    margin: 0;
    text-align: center;
}

section h2,p {
    text-align: center;
}

/* nav.logoImg {
    font-family: 'Lobster', sans-serif;
    color:#ffffff;
} */
/* Buttons */
/* Quote buttons styling */
.btn-qt {
    background-color: #D1952C;
    font-family: 'Lobster', sans-serif;
    border-radius: 30px 0 30px 0;
    color: #f6f6f6;
}

button {
    display: inline-block;
}

/* Portfolio buttons */
main button#before-btn {
    border-radius: 30px 0 0 30px;
    color: black;
}

main button#after-btn {
    border-radius: 0 30px 30px 0;
    color: #ffffff;
}

/********* For JavaScript on Portfolio buttons****************/
.portActive {
    background-color: #D1952C;
}

.portNotActive {
    background-color: #C19A6B;
}

/* hr */
main hr {
    border: 1px solid #006837;
    width: 50%;
}

h2 {
    margin-bottom: 0;
}

nav a {
    color: yellow;
}

nav a:visited {
    color: yellow;
}

nav a:hover {
    color: white;
}

nav a:active {
    color: #D1952C;
}

main {
    background-color: #47311A;
    margin: 0 1em 0 1em;
}

main h2 {
    font-family: 'Playfair Display', serif;
    color: #f6f6f6;
}

main p {
    font-family: 'Nunito', sans-serif;
    color:#dfccb3;
}

/* Section 1 */
#section1 * {
    padding: auto;
}

.portfolioCar {
    margin-bottom: 0;
}

footer {
    background-color: #006837;
}

img {
    /* display: none; */
    max-width: 100%;
    height: auto;
}

