/* section {
    border: 3px solid red;
}

header, footer {
    border: 3px solid green;
}

body {
    border: 3px solid yellow;
}

main {
    border: 3px solid purple;
}

div {
    border: 3px solid orange;
} */




body {
    background-color: #42210B;
    display: grid;
    grid-template-areas: 
        "top top top"
        "middle middle middle"
        "bottom bottom bottom";
    grid-template-columns: auto ;
}






html {
    font-size: 62.5%;
}

body {
    margin: 0 auto;
}

main p {
    font-family: 'Nunito', sans-serif;
    color:#dfccb3;
    font-size: 2rem;
}

header {
    grid-area: top;
    background-color: #006837;
    /* position: sticky; */
    top: 0;
    height: 10vh;
    min-height: 70px;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    margin: 0;
}

nav img {
    max-width: 33%;
    margin: 2em 0 0 1em;
}

nav ul {
    margin-left: auto;
    margin-right: 1em;
    margin-top: 1.5em;
}

nav li {
    list-style: none;
    margin-left: auto;
}

nav button {
    border-radius: 30px 0;
    font-size: 1.5rem;
    padding: .5em;
    margin-bottom: .35em;
    color: rgb(230, 230, 230);
    background-color: rgb(210, 150, 45);
    font-family: 'Playfair Display', serif;
    border-color: rgb(210, 150, 45);
}

a.spanish:link {
    color: yellow;
}

a.spanish:visited {
    color: yellow;
}

a.spanish:active {
    color: white;
}


main {
    background-color: #47311A;
    grid-area: middle;
    margin: 0 1em;
    padding: .2em;
}

h1, h2 {
    color: rgb(235, 235, 235);
}

/* .section1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */



.section1 figure {
    display: none;
}

figure {
    margin: 0 auto;
    padding: 0;
    width: fit-content;
}

.elevate {
    text-align: center;
}

.elevate h1 {
    font-size: 2.45rem;
    max-width: 100%;
}

.center {
    text-align: center;
}

.imageRight {
    margin-left: 40%;
}

.imageLeft {
    margin-right: 40%;
}

.buttonMargin {
    margin-bottom: 2em;
}

#before-btn {
    border-radius: 30px 0 0 30px;
    font-family: 'Playfair Display', serif;
    border: none;
    text-align: center;
}

#after-btn {
    border-radius: 0 30px 30px 0;
    font-family: 'Playfair Display', serif;
    border: none;
    text-align: center;
}

.portActive {
    background-color: #D1952C;
    color: rgb(235, 235, 235);
}

.portNotActive {
    background-color: #C19A6B;
    color: rgb(35, 35,35);
}

.portfolioCar {
    position: relative;
    /* Border for portfolio figure element */
    /* border: 6px solid orange; */
}

/* Border for portfolio div */
/* .portDiv {
    border: 6px solid white;
} */


.portDir {
    border-radius: 30px;
    position: absolute;
}


.portLeft {
    top: 50%;
}

.portRight {
    top: 50%;
    right: .1px;
}

footer {
    grid-area: bottom;
    background-color: rgb(0, 102, 54);
    height: 5vh;
    min-height: 40px;
    padding: 0;
    margin: 0;
}