

body {
    background-color: #42210B;
    display: grid;
    grid-template-areas: 
        "top top top"
        "middle middle middle"
        "bottom bottom bottom";
    grid-template-columns: auto ;
    margin: 0 auto;
}


html {
    font-size: 62.5%;
}

#logoLink {
    display:contents;
}

header {
    grid-area: top;
    background-color: #006837;
    position: sticky;
    top: 0;
    min-height: 70px;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

nav img {
    max-width: 33%;
    margin: auto 0 auto 1em;
    aspect-ratio: auto;
}

nav ul {
    margin-left: auto;
    margin-right: 1em;
    margin-top: 1.5em;
}

nav li {
    list-style: none;
    margin-left: auto;
}

nav button {
    border-radius: 30px 7px;
    font-size: 1.5rem;
    padding: .5em;
    margin-bottom: .35em;
    color: rgb(230, 230, 230);
    background-color: rgb(210, 150, 45);
    font-family: 'Playfair Display', serif;
    border: none;
    /* border-color: rgb(210, 150, 45); */
}

a.spanish:link {
    color: yellow;
}

a.spanish:visited {
    color: yellow;
}

a.spanish:active {
    color: white;
}


main {
    background-color: #47311A;
    grid-area: middle;
    margin: 0 1em;
    padding: .2em;
}

main h2 {
    font-size: 2.4rem;
}

h1, h2 {
    color: rgb(235, 235, 235);
}

main p {
    font-family: 'Nunito', sans-serif;
    color:#dfccb3;
    font-size: 2rem;
}

figure {
    margin: 0 auto;
    padding: 0;
    width: fit-content;
}

.elevate {
    text-align: center;
}

.elevate h1 {
    font-size: 2.45rem;
    max-width: 100%;
    margin-bottom: .5em;
}

.elevate p {
    margin-top: 0;
}

.elevate button {
    border-radius: 30px 7px;
    font-size: 1.5rem;
    padding: .5em;
    margin-bottom: 2em;
    color: rgb(230, 230, 230);
    background-color: rgb(210, 150, 45);
    font-family: 'Playfair Display', serif;
    border: none;
}

#section1 img {
    margin-bottom: 2em;
}

.lessMarginBottom {
    margin-bottom: 0;
}

.secDescription {
    margin-top: 0;
}

hr {
    border-top: none;
    border-left: none;
}

hr {
    width: 80%;
    border-color: #006837;
    border-width: .5em;
    
}

.spaceBetweenItems {
    margin: 2em;
}

.center {
    text-align: center;
}

.imageRight {
    margin-left: 40%;
}

.imageLeft {
    margin-right: 40%;
}

.imageBigger {
    width: 90%;
    height: 90%;
}

.arBigger {
    aspect-ratio: auto;
    height: 200px;
    width: 200px;
}

.buttonMargin {
    margin-bottom: 2em;
}

.viewButton {
    font-size: 3.4rem;
    color: rgb(235, 235, 235);
    background-color: transparent;
    border: none;
}

#before-btn {
    border-radius: 0;
    font-family: 'Playfair Display', serif;
    border: none;
    text-align: center;
    font-size: 3.45rem;
}

#after-btn {
    border-radius: 0;
    font-family: 'Playfair Display', serif;
    border: none;
    text-align: center;
    font-size: 3.45rem;
}

.portActive {
    background-color: #D1952C;
    color: rgb(235, 235, 235);
}

.portNotActive {
    background-color: #C19A6B;
    color: #47311A;
}

.portfolioCar {
    position: relative;
}

.portDir {
    border-radius: 30px;
    position: absolute;
    
}


#portLeft {
    top: 50%;
    font-size: 5rem;
    color: rgba(200,200,200,.7);
    background-color: rgba(0,0,0,0.25);
    border: none;
    margin-left: .1em;
}

#portRight {
    top: 50%;
    right: .1px;
    font-size: 5rem;
    color: rgba(200,200,200,.7);
    background-color: rgba(0,0,0,0.25);
    border: none;
    margin-right: .1em;
}

footer {
    grid-area: bottom;
    background-color: rgb(0, 102, 54);
    min-height: 40px;
    padding: 0;
    margin: 0;
}

footer p {
    margin: .5em;
    color: rgb(235, 235, 235);
}

footer a:link {
    color: rgb(235, 235, 235);
}

footer a:visited {
    color: rgb(235, 235, 235);
}

footer a:active {
    color: rgb(235, 235, 235);
}

.doNotDisplay {
    display: none;
}

@media (min-width: 281px) and (max-width:540px) {
    .imgWide {
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 330px) and (max-width:399px) {
    .elevate h1 {
        font-size: 2.9rem;
    }

    main h2 {
        font-size: 2.9rem;
    }

    main p {
        font-size: 2.2rem;
    }
}

@media (min-width: 400px) and (max-width:499px) {
    .elevate h1 {
        font-size: 3.6rem;
    }

    main h2 {
        font-size: 4.5rem;
    }

    main p {
        font-size: 3.2rem;
    }
}

@media (min-width: 500px) and (max-width:599px) {
    .elevate h1 {
        font-size: 4.5rem;
    }

    main h2 {
        font-size: 5.4rem;
    }

    main p {
        font-size: 4.2rem;
    }
}

@media (min-width: 600px) and (max-width:720px) {
    .elevate h1 {
        font-size: 5.5rem;
    }

    main h2 {
        font-size: 6.4rem;
    }

    main p {
        font-size: 4.9rem;
    }
}

@media only screen and (min-width: 392px) {
    nav img {
        max-width: 60%;
    }
}

@media only screen and (max-width: 720px) {
    .container {
        display: none;
    }
    #secondCallButton, #emailButton {
        display: none;
        
    }
}

@media only screen and (min-width: 721px) {

    #firstCallButton {
        display: none;
    }

    #secondCallButton {
        font-size: 3rem;
        font-family: 'Playfair Display', serif;
        color: rgb(235, 235, 235);
        margin: 0;
        text-decoration: none;
    }

    #elevateButton {
        display: none;
    }

    #section1 {
        display: flex;
    }
    
    #section1 img {
        margin: 3em 0 2em auto;
        aspect-ratio: auto;
        height: auto;
        width: 90%;

    }

    .elevate h1 {
        font-size: 5.91rem;
    }

    .elevate p {
        font-size: 3rem;
    }

    .elevate button {
        font-size: 3rem;
    }
    
    nav button {
        font-size: 2rem;
    }

    .spanish {
        font-size: 1.5rem;
    }

    #section2Div, #section3Div {
        display: flex;
    }

    #section2Div p {
        max-width: 85%;
        text-align: center;
    }

    #section2Div .leftMarg {
        margin-left: 2em;
        margin-left: auto;
        margin-right: auto;
        
    }

    /* **Test below** */
    main h2 {
        font-size: 6.4rem;
    }

    main p {
        font-size: 3rem;
    }

    #width33 {
        margin-left: 7em;
        margin-right: 5em;
    }

    #width33 p {
        margin-left: auto;
        margin-right: auto;
    }

    .spaceBetweenItems {
        margin: 0;
    }

    #section3Div .thirdWidth {
        max-width: 30%;
        margin: 2em;
    }

    #section3Div .rakeLeaves {
        width: 100%;
        margin-left: 125%;
    }

    #section3Div .laySod {
        width: 60%;
        margin-top: 8%;
    }

    #section3Div .layBrick {
        width: 60%;
        margin-top: 10%;
    }

    /* **Test above** */

    

    /* Play with this imageBigger to get correct image size */
    .imageBigger {
        height: 200px;
        width: 250px;
        width: 40%;
        height: 90%;
    }

    hr {
        width: 100%;
    }

    #imageSlider {
        display: none;
    }

    .container {
        display: flex;
	    flex-wrap: wrap;
	    justify-content: center;
    }

    .container img {
        aspect-ratio: auto;
        width: 20%;
        height: auto;
        margin: 10px;
        transition: all 1s;
    }
}

@media only screen and (min-width: 800px) {
    .elevate h1 {
        font-size: 7rem;
    }

    .elevate p {
        font-size: 3rem;
    }

    .spanish {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 850px) {
    .elevate h1 {
        font-size: 7.5rem;
    }

    .elevate p {
        font-size: 3.2rem;
    }
}

@media only screen and (min-width: 900px) {
    .elevate h1 {
        font-size: 7.7rem;
    }

    .elevate p {
        font-size: 3.6rem;
    }
}

@media only screen and (min-width: 900px) {
    .elevate h1 {
        font-size: 7.9rem;
    }

    .elevate p {
        font-size: 3.8rem;
    }
}

@media only screen and (min-width: 1000px) {
    .elevate h1 {
        font-size: 8rem;
    }

    .elevate p {
        font-size: 4rem;
    }
}

@media only screen and (min-width: 1100px) {
    .elevate h1 {
        font-size: 8.5rem;
    }

    .elevate p {
        font-size: 4.5rem;
    }

    .elevate {
        height: 100%;
    }
}

@media only screen and (min-width: 1300px) {
    .elevate h1 {
        font-size: 9rem;
    }

    .elevate p {
        font-size: 5rem;
    }

    .elevate {
        height: 100%;
    }
}

@media only screen and (min-width: 1400px) {
    .elevate h1 {
        font-size: 9.5rem;
    }

    .elevate p {
        font-size: 5.5rem;
    }
}
